* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 75%;
  margin: auto;
}

.blue-section {
  background-color: #0082f9;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 5px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 50px;
}

.nav .menu a {
  color: #464646;
  font-size: 13px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.footer-menu ul {
  list-style-type: none;
}

.footer-menu ul li a {
  color: white;
  text-decoration: none;
}

button.blue-e-white {
  color: #ffffff;
  background-color: #0082f9;
  text-transform: uppercase;
  padding: 6px 50px;
  border: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .logo-container img {
  padding: 20px 0;
}

.navbar .nav {
  align-self: center;
  display: flex;
}

.navbar .nav input {
  text-align: right;
  border: none;
  border-bottom: 2px solid #0082f9;
  width: 110px;
  margin-left: 20px;
}

.jumbotron {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.jumbotron img {
  width: 100%;
}

.products-list {
  background-color: #1d1d1d;
}

.products-list .wrapper .comics {
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
}

.products-list .wrapper .comics .comic {
  width: calc(100% / 6);
  padding: 40px 10px;
}

.products-list .wrapper .comics .comic img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-list .wrapper .comics .comic h5 {
  color: #ffffff;
  font-weight: 100;
  padding-top: 10px;
  text-transform: uppercase;
}

.products-list .wrapper .btn {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.footer-with-bg {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.footer-with-bg img {
  width: -webkit-fill-available;
  height: 100%;
}

.footer-with-bg .links {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
}

.footer-with-bg .links .footer-menu {
  list-style-type: none;
  padding: 20px 20px 10px 0px;
  width: calc(100% / 2);
}

.footer-with-bg .links .footer-menu li a {
  color: #687175;
  text-decoration: none;
}

.footer-with-bg .links .footer-menu li a#white-txt {
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.footer-with-bg .rights {
  position: absolute;
  bottom: 40px;
  font-size: 13px;
}

.footer-with-bg .rights p {
  color: #687175;
}

.footer-with-bg .rights span {
  color: #0082f9;
}

.footer-with-bg .big-logo {
  position: absolute;
  top: -20px;
  right: 10%;
  width: 36%;
}

.footer-buttons {
  background-color: #303030;
}

.footer-buttons .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.footer-buttons .wrapper .social-icons {
  align-self: center;
  display: flex;
}

.footer-buttons .wrapper .social-icons h5 {
  text-transform: uppercase;
  color: #0082f9;
  font-size: 15px;
  align-self: center;
  margin-right: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}

.footer-buttons .wrapper .social-icons img {
  margin: 0 7px;
}

.footer-buttons button {
  border: 2px solid #0082f9;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #303030;
  padding: 6px;
  cursor: pointer;
}

