* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 75%;
  margin: auto;
}

.blue-section {
  background-color: #0082f9;
}

.blue-section ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 5px;
}

.blue-section ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 50px;
}

