* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// BODY 

body {
    font-family: 'Open Sans', sans-serif;
}

// WRAPPER

.wrapper {
    width: 75%;
    margin: auto;
}

// BLUE SECTION WITH WHITE TEXT

.blue-section {
    background-color: $dc_main_color;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 5px;
    li {
        
        a {
            color: $dc_text_and_nav;
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 50px;
        }
    }
}

.nav .menu {
    a {
        color: $dc_secondary_color;
        font-size: 13px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
    }
}

// FOOTER MENU

.footer-menu {
    ul {
        list-style-type: none;
        li {
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}