button.blue-e-white {
    color: $dc_text_and_nav;
    background-color: $dc_main_color;
    text-transform: uppercase;
    padding: 6px 50px;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    cursor: pointer;
}